html {
  overflow-x: hidden;
  background-color: $gray-10;
}
#app {
  font-family: $font-1;
  font-size: $fz-sm;
  font-weight: 500;
  color: $gray-80;
  h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-weight: bold;
    color: $color-1;
  }
  h2 { font-size: $fz-xxl; }
  h3 { font-size: $fz-lg; }
  h4 { 
    font-size: $fz-md;
    font-weight: 500;
    color: $gray-80;
    text-transform: unset;
  }
  a {
    color: $color-1;    
    transition: $tran;
    &:hover {
      color: $gray-80;
    }
  }
  p {
    font-weight: 400;
  }
  li {
    margin-bottom: 10px;
  }
  img {
    width: 100%;
  }
  .pseudo-underline {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 4rem;
      height: 2px;
      background: $gray-30;
      bottom: -24px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  nav {
    position: relative;
    height: 100px;
    li {
      margin-right: 30px;
      margin-bottom: 0;
      a {
        color: $gray-80;
        font-weight: 500;
        font-size: 24px;
        border-bottom: 2px solid transparent;
        padding-bottom: 4px;
        &:hover {
          color: $color-1;
          border-bottom: 2px solid $color-1;
        }
        &.active {
          border-color: $gray-80;
          &:hover {
            color: $gray-80;
          }
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .bold { font-weight: bold; }
  .italic { font-style: italic; }
  .logo, a {
    height: 100%;    
    img {
      max-height: 80%;
      width: auto;
      position: relative;
      bottom: 4px;
    }
  }
  .header {
    .top-bar {
      background-color: $gray-70;
      a {
        color: $white;
        padding: 0;
        border: none;
        height: auto;
        &:hover {
          color: $color-1-lt;
        }
      }
    }
    .top-bar-height {
      height: 36px;
    }
    .header-border {
      border: 2px solid $color-1 !important;
    }
  }
  .hero {
    position: relative;
    width: 100%;
    background: url('assets/images/hero-2.jpg') 0 0 no-repeat;
    background-size: cover;
    height: 500px;
    .filter {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba($black, 0.4);
    }
    $heading-spacing: 0px;
    .hero-heading {
      position: relative;
      left: 0;
      font-family: $font-1;
      color: $white;
      font-size: 5rem;
      line-height: 54px;
      letter-spacing: $heading-spacing;
      word-spacing: $heading-spacing;
      z-index: 9;
      transition: $tran4;
      text-shadow: 0 0 20px $gray-80;
      .heading-a { line-height: 64px; }
      .heading-b { line-height: 28px; }
    }
  }
  .content {
    max-width: 800px;
    margin: 0 auto;
    p {
      font-size: $fz-md;
      margin-bottom: 1rem;
      line-height: 30px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .module {
    display: inline-block;
    background-color: $white;
    padding: 1rem 1rem 2.25rem;
    border: $border;
    text-align: center;
    cursor: pointer;
    h3 {
      margin: 30px 0 20px;
      color: $gray-80;
      font-style: italic;
    }
    .img-wrapper {
      overflow: hidden;
    }
    img {
      width: 100%;
      transition: $tran;
    }
    a {
      border-bottom: none;
      padding: 0;
    }
    &:hover {
      background-color: $gray-7;
    }
  }
  .module:hover img {
    transform: scale(1.05);
  }

  .icon-wrapper {
    display: inline-block;
    width: 30px;
  }

  .img-left,
  .img-right {
    position: absolute;
    width: 50%;
  }
  .img-left {
    left: 0;
    top: 0;
  }
  .img-right {
    right: 0;
    bottom: 0;
  }

  .carousel-wrapper {
    position: relative;
  }

  $arrow-size: 18px;
  $arrow-girth: 3px;

  .swiper-arrow {
    border: solid $gray-60;
    border-width: 0 $arrow-girth $arrow-girth 0;
    display: inline-block;
    padding: $arrow-girth;
    width: $arrow-size;
    height: $arrow-size;
    transition: $tran;
    outline: none;
    &:hover {
      border-color: $color-1;
    }
  }

  $arrow-position: -2.5rem;

  .swiper-button-prev {
    left: $arrow-position;
    background: none;
    transform: rotate(135deg);
  }
  .swiper-button-next {
    right: $arrow-position;
    background: none;
    transform: rotate(-45deg);
  }
  .swiper-pagination {
    bottom: -2.5rem;
    left: 50%;
    transform: translateX(-50%);    
  }

  $pag-bullet-size: 10px;

  .swiper-pagination-bullet {
    background: $gray-60;
    width: $pag-bullet-size;
    height: $pag-bullet-size;
    margin-right: 10px;
    transition: $tran;
    outline: none;
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      background: $color-1;
      opacity: 1;
    }
  }

  .carousel-wrapper.gallery {
    max-width: 800px;
    margin: auto;
  }

  .footer {
    height: 140px;
    .logo img {
      max-height: 60%;
    }
  }

  // SVG
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    position: relative;
    bottom: 2px;
  }
  .icon-mail {
    width: 20px;
    height: 20px;
  }
} // #app